* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

.app {
    width: 317px;
    height: 399px;
    background-color: #1A1B21;
    margin: auto;

}


img.bio {
    width: 100%;;
    height: 50%;
}

h3 {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 21px;
    margin-bottom: 6px;
    font-weight: 700;
}

.title {
    color: #F3BF99;
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 400;
}

.website {
    color: #F5F5F5;
    font-size: 10px;
    text-align: center;
    margin-top: 0;
}

button.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 13px 9px 11px;
    width: 247px;
    height: 34px;
    margin: 16px auto;

}

.envelope {
    width: 12.8px;
    height: 9.6px;
    margin-left: 80px;
}

.email p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    margin-right: 90px;
    padding-left: 5px;
}


/*About*/

.about {
    background-color: #1A1B21;
    margin: auto;
    padding-bottom: 27px;
    padding-top: 20px;
}

h5 {
    color: #F5F5F5;
    width: 247px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto 5px;
}

.about-p {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10px;
    line-height: 15.36px;
    width: 247px;
    height: 61px;
    margin: 0 auto;
}

/*Interests*/

.interests {
    background-color: #1A1B21;
    margin: 0 auto;
    padding-bottom: 24px;
}

.interests-p {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10px;
    line-height: 15.36px;
    width: 247px;
    height: 61px;
    margin: 0 auto;
    padding-bottom: 24px;
}

/*Footer*/

.social-icons {
    background-color: #161619;
    width: 317px;
    height: 64px;
    display: flex;
    justify-content: center;
    margin: auto;
}

img.social {
    padding: 0 10px;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
}